.header {
    font-family: fantasy;
}
.logoutLblPos{
    position:fixed;
    right:10px;
    top:5px;
 }

 .customBorder {
     border-right: 1px solid slategrey;
 }

.card:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,33,1);
    }

    .card-container{
            width:100%;
            text-align:center;
            padding:5px 5px 5px 5px;
            float:left;
            text-align:left;
        }
        .customWidth{
            width:100%;
        }
        .card{
            width:100%;
            align-items: center;
            padding: 10 px;
        }
        .card-header {
            width:100%;
            padding: .25rem 1rem;
        }
        .titleCustom{
            vertical-align: middle;
        }
    .cardTitle {
        text-transform: capitalize;
    }
    button {
        background-color: #f7b53154;
        font-weight: bolder;
        font-family: sans-serif;
    }
    .bodyCustom{
        width:100%;
        min-height: 150px;
        position: relative;
    }
    .card-title {
        padding-bottom: 1rem;
        font-family: cursive;
    }
    .dateDisplay {
    position: absolute;
    bottom: 0px;
    right: 7px;
    padding: 0;
    font-size: 14px;
    color: #80808094;
    margin-bottom: 0;
    }