<div>
  <button class="btn btn-danger" style="margin-right:0 ;" (click)="signOut()">Logout</button>

<button routerLink="/addtask" routerLinkActive="active" type="button" class="btn btn-default">
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Add Task</span>
</button>
<div class="row mt-5 card-container">
<div class="col-md-4 mb-3" *ngFor="let obj of taskitems | async">
<div class="card text-white mb-3" [ngClass]="{
  'bg-success':obj.importance === 'low',
  'bg-warning':obj.importance === 'medium',
  'bg-danger':obj.importance === 'high'}" style="max-width: 18rem;">
  <div class="card-header">{{obj.title}}</div>
  <div class="card-body">
    <h5 class="card-title">{{obj.description}}</h5>
    <p class="card-title">{{obj.duedate.toDate() | date:'dd/MM/yyyy'}}</p>
    <button mat-button (click)="deleteItem(obj)">DELETE</button>
  </div>
</div>
</div>
</div>
</div>