.logoutLblPos{
    position:fixed;
    right:10px;
    top:5px;
 }

.card:hover{
    box-shadow: 0 5px 5px 0 rgba(0,0,33,1);
    }

    .card-container{
            background-color:blanchedalmond;
            width:100%;
            text-align:center;
            padding:5px 5px 5px 5px;
            float:left;
            text-align:left;
        }

        .card{
            padding: 10 px;
        }